//

@import 'styles/mixins';

@include hide-on-phone-only();


.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #ddd;
  transition: transform 350ms ease-in-out;
  will-change: transform;
  --iron-image-placeholder: #{'{ 
    border-radius: 50%;
    background-color: $brand-inverse; 
  }'};

  @include phone-only {
    width: 100px;
    height: 100px;
  }
}

