@import 'styles/variables';
@import 'styles/mixins';

@include hide-on-tablet-landscape-up();
@include hide-on-phone-only();
@include hide-on-non-desktop();

app-header {
  background-color: $brand-primary;
  color: $light;
  
  app-toolbar {
    // height: $navigation-header-height;
    
    span[main-title] {
      margin-left: $navigation-header-margin-left;
    }
  }  
}