:host {
  display: block;
  padding: 10px;
}

:host {
  padding-top: 75px;
}

project-map-profile-form {
  min-width: 250px;
  padding: 10px;
}

project-map-profile {
  min-width: 250px;
  padding: 10px;
}